@model ATOMv0.Models.MetricConfiguration

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "MetricConfigurations", FormMethod.Post, new { @class = "form-crud" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>MetricConfiguration</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.KeyMetricID, "KeyMetricID", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownList("KeyMetricID", String.Empty)
                @Html.ValidationMessageFor(model => model.KeyMetricID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KeyMetricRoleTypeID, "KeyMetricRoleTypeID", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownList("KeyMetricRoleTypeID", String.Empty)
                @Html.ValidationMessageFor(model => model.KeyMetricRoleTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KeySiteID, "KeySiteID", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownList("KeySiteID", String.Empty)
                @Html.ValidationMessageFor(model => model.KeySiteID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KeyBusinessPartnerID, "KeyBusinessPartnerID", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownList("KeyBusinessPartnerID", String.Empty)
                @Html.ValidationMessageFor(model => model.KeyBusinessPartnerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KeyFFInstanceID, "KeyFFInstanceID", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownList("KeyFFInstanceID", String.Empty)
                @Html.ValidationMessageFor(model => model.KeyFFInstanceID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Goal, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Goal)
                @Html.ValidationMessageFor(model => model.Goal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Red, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Red)
                @Html.ValidationMessageFor(model => model.Red)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Green, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Green)
                @Html.ValidationMessageFor(model => model.Green)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Alert)
                @Html.ValidationMessageFor(model => model.Alert)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert_MasterDataChange, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Alert_MasterDataChange)
                @Html.ValidationMessageFor(model => model.Alert_MasterDataChange)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert_SystemErrors, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Alert_SystemErrors)
                @Html.ValidationMessageFor(model => model.Alert_SystemErrors)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetricManagerValidationStatus, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.MetricManagerValidationStatus)
                @Html.ValidationMessageFor(model => model.MetricManagerValidationStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetricOwnerValidationStatus, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.MetricOwnerValidationStatus)
                @Html.ValidationMessageFor(model => model.MetricOwnerValidationStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}


