@model ATOMv0.Models.FFSite
<script type="text/javascript">

  $(document).ready(function () {
    var site = $('#lblSiteName').text();
    if (site == "") {

      $('#RegionsDivID').hide();
      $('#CountriesDivID').hide();
      $('#FacilitiesDivID').hide();
      $('#Next-ToBuildingSelection').hide();
      $('#divERegionsDivIDrrorMsg').show();

    }
    else {
      $('#RegionsDivID').show();
      $('#CountriesDivID').show();
      $('#FacilitiesDivID').show();
      $('#Next-ToBuildingSelection').show();
      $('#divErrorMsg').hide();
    }

  });
</script>
<form id="msform">

  



  <!-- progressbar -->
  <ul id="progressbar" style="min-width:650px;">
    <li class="active" style="color:black">Site Selection</li>
    <li style="color:black">Building Selection</li>
    <li style="color:black">Station Bucket Selection</li>

  </ul>
  <!-- fieldsets -->
  <div>

    <fieldset style="margin:0 10%; min-width:600px;">
     
      <h2>Select your site</h2>
      @Html.ValidationSummary(true)
      <input id="getDropdownActionUrl" type="hidden" data-url="@Url.Action("GetDropDownData", "FFSite")" />
      <input id="DimStationTypesUpdateUrl" type="hidden" data-url="@Url.Action("Update", "DimStationTypes")" />

      <input id="DimBusinessPartnersUpdateUrl" type="hidden" data-url="@Url.Action("Update", "DimBusinessPartners")" />


      <input id="DimFFInstancesUpdateUrl" type="hidden" data-url="@Url.Action("Update", "DimFFInstances")" />

      <input id="DimBuildingsEditUrl" type="hidden" data-url="@Url.Action("Edit", "DimBuildings")" />

      <input id="DimBuildingsDetailsUrl" type="hidden" data-url="@Url.Action("Details", "DimBuildings")" />

      <input id="DimBuildingsDeleteUrl" type="hidden" data-url="@Url.Action("Delete", "DimBuildings")" />


      <div id="RegionsDivID" class="form-control-static" style="align-self:center">
        @*@Html.DropDownListFor(model => model.ListRegions, new SelectList(ViewBag.KeyRegion), "Select a Region", new { id = "RegionID" })
          @Html.ValidationMessageFor(model => model.ListRegions)*@
        <span>Region</span><br />
        @Html.Label("lblRegionsName", (string)ViewBag.RegionName)
      </div>

      <div id="CountriesDivID" class="form-control-static" style="align-self:center">
        @*<select id="CountriesID">Select a Country</select>
          @Html.ValidationMessageFor(model => model.ListCountries)*@
        <span>Country</span><br />
        @Html.Label("lblCountryName", (string)ViewBag.CountryName)
      </div>

      <div id="FacilitiesDivID" class="form-control-static" style="align-self:center">
        @*<select id="FacilitiesID">Select a Site</select>
          @Html.ValidationMessageFor(model => model.ListFacilities)*@
        <span>Site</span><br />
        @Html.Label("", (string)ViewBag.SiteName, new { id = "lblSiteName" })
      </div>

      <div id="divErrorMsg" class="form-control-static" style="align-self:center">

        <span></span>No site records found for this user.
      </div>

      <input id="Next-ToBuildingSelection" type="button" name="next" class="next action-button" value="Next" />

    </fieldset>

    <fieldset style="margin: 0 10%; min-width: 600px;">
      <div style="margin:-2%">
        <table class="boldtable">

          <tr>
            <th>Region</th>
            <th>Country</th>
            <th>Site</th>
          </tr>
          <tr>
            <td>@ViewBag.RegionName</td>
            <td>@ViewBag.CountryName</td>
            <td>@ViewBag.SiteName</td>
          </tr>
        </table>

      </div>

      <div class="form-group">
        <h3>Buildings</h3>

        @Html.ActionLink("Create New", "Create", "DimBuildings")
        <a style="color:#00ff21" href="@Url.Action("Create", "DimBuildings")">
          <i class="glyphicon glyphicon-plus"></i>
          <span class="sr-only">Create</span>
        </a>

        <div class="form-control-static" style="align-self:center">
          <select id="BuildingsID">Select a Building</select>
        </div>

        <a id="EditBuilding">
          <i style="color:#5500ff" class="glyphicon glyphicon-pencil"></i>
          Edit
          <span class="sr-only">Edit</span>
        </a>

        |
        <a id="DetailsBuilding">
          <i style="color:#ff9000" class="glyphicon glyphicon-fullscreen"></i>
          Details
          <span class="sr-only">Details</span>


        </a>|
        <a id="DeleteBuilding">
          <i style="color:#ff0000" class="glyphicon glyphicon-trash"></i>
          Delete
          <span class="sr-only">Delete</span>
        </a>

      </div>

      <div class="form-group" style="min-width:315px;">
        <div style="width:50%; display:block; float:left">
          <h4>Available Customer Projects</h4>
          <ol id="availablecustomersresultset" class="simple_with_animation" style="height:200px; text-align:center ;display:block; border:dotted; overflow-y:scroll; "></ol>
        </div>
        <div style="width:50%; display:block; float:right">
          <h4>Assign to Building: </h4>
          <ol id="assignedcustomersresultset" class="simple_with_animation" style="height:200px; text-align:center; display:block; border:dotted; overflow-y:scroll;"></ol>
        </div>
      </div>

      @Html.ValidationMessageFor(model => model.ListBuildings)

      <div id="bigblue" class="modal"><!-- Place at bottom of page --></div>

      <input id="PreviousButton" type="button" name="previous" class="previous ffmenu action-button" value="Previous" style="background-color: #217dbb">

      <input id="SaveButton" type="button" name="save" class="action-button" value="Save" style="background-color: #ffa617">

      <input id="Next-ToBucketSelection" type="button" name="next" class="next ffmenu action-button" value="Next" />

    </fieldset>


    <fieldset style="margin:0 10%;  min-width:600px;">
      <div style="margin:-2%">
        <table class="boldtable">

          <tr>
            <th>Region</th>
            <th>Country</th>
            <th>Site</th>
            <th>Builidings</th>
          </tr>
          <tr>
            <td>@ViewBag.RegionName</td>
            <td>@ViewBag.CountryName</td>
            <td>@ViewBag.SiteName</td>
            <td><div id="divBuildingName"></div></td>

          </tr>
        </table>

      </div>

      <h3>Station Bucket</h3>

      <div style="width:50%; display:block; float:left">
        <h3>Available Station Types</h3>
        <select id="CustomersDropDown">Select a Customer</select>
        <ol id="stationtypesresultset" class="simple_with_animation" style="height:200px; display:block; border:dotted; overflow-y:scroll; "></ol>
      </div>
      <div style="width:50%; display:block; float:right">
        <h3>Assign to Bucket</h3>
        <select id="BucketsDropDown">Select a Bucket Type</select>
        <ol id="bucketedstationtypesresultset" class="simple_with_animation" style="height:200px; display:block; border:dotted; overflow-y:scroll;"></ol>
      </div>


      @Html.ValidationMessageFor(model => model.ListStationTypes)

      <div id="wait" class="modal"><!-- Place at bottom of page --></div>

      <input id="PreviousButton" type="button" name="previous" class="previous ffmenu action-button" value="Previous" style="background-color: #217dbb">

      <input id="Finish" type="button" name="next" class="action-button" value="Finish" />


    </fieldset>

  </div>
</form>


