@model ATOMv0.Models.DimBusinessPartner
@{
  ViewBag.Title = "Edit";
}
@section UserName{
  @if (ViewBag.UserName != null)
  {
    <div class="titleLogin">
      Welcome
    </div>

    <div class="titleLogin">
      @ViewBag.UserName
    </div>
  }
}
<h2>Edit Business Partner</h2>


@using (Html.BeginForm("Edit", "DimBusinessPartners", FormMethod.Post, new { @class = "form-crud" }))
{
  @Html.AntiForgeryToken()

  <div>
    <h2>Edit</h2>
    <h4>DimBusinessPartner</h4>
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
      @Html.LabelFor(model => model.BusinessPartnerName, new { @class = "control-label" })
      <div>
        @Html.EditorFor(model => model.BusinessPartnerName, new { @class = "form-control" })<br />
        @Html.ValidationMessageFor(model => model.BusinessPartnerName)
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.BPCode, new { @class = "control-label" })
      <div>
        @Html.EditorFor(model => model.BPCode, new { @class = "form-control" })<br />
        @Html.ValidationMessageFor(model => model.BPCode)
        <br /><br />
      </div>
    </div>




    <div>
      @Html.HiddenFor(model => model.KeySite)
    </div>
    <div>
      @Html.HiddenFor(model => model.KeyBuilding)
    </div>

    <div class="form-group" align="center">

      <table>
        <tr>
          <td>Status</td>
          <td>
            <div style="float:right;vertical-align:top" align="left">
              @*@Html.RadioButton("rbtnStatusActive", "0", true)Active
                @Html.RadioButton("rbtnStatusActive", "1", false)InActive*@


              @Html.RadioButtonFor(model => model.IsActive, 1)Active
              @Html.RadioButtonFor(model => model.IsActive, 0)InActive
            </div>

          </td>
        </tr>
      </table>




    </div>

    <div class="form-group">
      <div class="col-md-offset-1 col-md-10">
        <input type="submit" value="Save" class="btn btn-primary" />
      </div>
    </div>
  </div>

  <div>
    @Html.ActionLink("Back to List", "Index")
  </div>
}



@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
